<!doctype html>
<html lang="es" class="theme-dark">
    <head>
        <meta charset="UTF-8" />
        <title>Mis Tareas</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
        />
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item"> Home </a>
                        <a class="navbar-item"> Documentation </a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-dark">Github</a>
                                <a class="button is-link">Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero is-dark is-fullheight-with-navbar">
            <div class="hero-body">
                <div class="box m-auto">
                    <p class="title">Flask Tasks</p>
                    <div
                        class="card p-3"
                        style="width: 100%; height: auto; overflow: auto"
                    >
                        <header class="card-header">
                            <p class="card-header-title">My tasks</p>
                            <button
                                class="card-header-icon"
                                aria-label="more options"
                            >
                                <span class="icon">
                                    <i
                                        class="fas fa-angle-down"
                                        aria-hidden="true"
                                    ></i>
                                </span>
                            </button>
                        </header>
                        <div class="card-content">
                            <div class="content p-3">
                                {% for tarea in tareas %}
                                <div class="columns is-mobile">
                                    <div
                                        class="column is-flex is-flex-direction-row"
                                    >
                                        {% if tarea['hecho'] %}
                                        <div class="field">
                                            <div class="control">
                                                <input
                                                    class="input"
                                                    type="text"
                                                    value="{{ tarea['texto'] }}"
                                                    disabled
                                                />
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="field mr-3">
                                            <div class="control">
                                                <input
                                                    class="input"
                                                    type="text"
                                                    value="{{ tarea['texto'] }}"
                                                    readonly
                                                />
                                            </div>
                                        </div>
                                        <a href="/completar/{{ tarea['id'] }}"
                                            ><span
                                                class="icon has-text-success"
                                                style="font-size: 1rem"
                                                >✅</span
                                            ></a
                                        >
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <footer class="card-footer">
                            <form action="/agregar" method="post">
                                <div class="is-flex is-flex-direction-row">
                                    <div class="field mr-3">
                                        <div class="control">
                                            <input
                                                class="input"
                                                type="text"
                                                name="texto_tarea"
                                                placeholder="Nueva tarea"
                                                required
                                            />
                                        </div>
                                    </div>
                                    <div class="control">
                                        <button
                                            type="submit"
                                            class="button is-link"
                                        >
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </footer>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
